body{
    background-color:rgb(201, 219, 0);
    background-image: url(Untitled.png);
}
#title{
    color: blue;
    background-color: gray;
    margin-top: 100px;
    padding: 0px;
    font-size: 50px;
    justify-content: center;
    display: flex;
}
#ops{
    margin-top: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
#start{
    padding: 65px;
    padding-left:190px ;
    margin-left: 150px;
    padding-right: 350px;

}