body{
    background-color:rgb(201, 219, 0);
    background-image: url(Untitled.png);
}
#title{
    color: blue;
    background-color: gray;
    margin-top: 100px;
    padding: 0px;
    font-size: 50px;
    justify-content: center;
    display: flex;
}
button{
    background-color: rgb(23, 6, 201);
    color: rgb(0, 0, 0);
    margin: 5px;

}
p{
    font-style: arial;
    font-size: 30px;
    color:yellow;
    size: 100px;
}
label{
    font: arial;
    background-color: orange;
    color: black;
    size: 300px;
    box-shadow: 3px 3px 3px orangered;
}